[Desktop Entry]
Name=Juggler (VPN Switch)
Comment=WireGuard/OpenVPN Switch
Comment[ru]=Переключатель WireGuard/OpenVPN
Icon=juggler
Exec=juggler
Type=Application
Categories=Utility
Terminal=false
